.home {
    background: url(Image/Oreo\ Ui\ backgroundFinal.png) no-repeat center;
    background-size: 100% 100%;

}


.formCustom {
    /* position: absolute; */
    /* top: 35%; */
}

.inputCustomName {
    position: relative;
    top: 1rem;
    left: 0.5rem;


    background-color: rgba(255, 255, 255, 0.185);
    padding: 0.4rem;
    margin: 0.6rem;
    width: 14rem;
    color: #fff;
    border: #ffff;
    border-style: double;
    border-width: 1.5px;
    font-family: 'Montserrat';

    /* background-image:url(./Image/Asset\ 3@300x.png) */
}

.inputCustomName::placeholder {

    color: rgb(255, 255, 255);
    /* font-family: "Monstserrat-Regular"; */
    font-family: 'Montserrat';
    src: url(./Fonts/Montserrat-Regular.ttf);
}

.inputCustomNo {
    position: relative;
    top: 1rem;
    left: 0.5rem;


    background-color: transparent;
    padding: 0.4rem;
    margin: 0.6rem;
    width: 14rem;
    color: #fff;
    border: #ffff;
    border-style: double;
    border-width: 1.5px;
    font-family: 'Montserrat';

    /* background-image:url(./Image/Asset\ 3@300x.png) */
}

.inputCustomNo::placeholder {

    color: rgb(255, 255, 255);
    /* font-family: "Monstserrat-Regular"; */
    font-family: 'Montserrat';
    src: url(./Fonts/Montserrat-Regular.ttf);
}

.submitButton {
    position: relative;
    top: 1rem;
    /* background-image:url(./Image/Asset\ 2@300x.png) */
    background-color: #B8192D;
    color: #fff;
    width: 14rem;
    margin: 1rem;
    border-radius: 10px;
    padding: 0.3rem;
    border: #B8192D;

    /* font-family: "Monstserrat-Regular";
     */
    font-family: 'Montserrat';
    /* src: url(./Fonts/Montserrat-Regular.ttf); */
}

/*
input[type=text] :focus {
    background-color: rgba(0, 128, 0, 0);
    color: #fff;
}

input[type=number] :focus {
    background-color: rgba(0, 128, 0, 0);
    color: #fff;
}
*/


::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgb(255, 255, 255);
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: rgb(255, 255, 255);
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: rgb(255, 255, 255);
}

:-moz-placeholder {
    /* Firefox 18- */
    color: rgb(255, 255, 255);
}

.boxImage {
    position: absolute;
    margin-top: 1.5rem;
    /* background: url(Image/Asset\ 1@300x\ \(1\).png) no-repeat center; */
    /* background-size: 60% 20%; */
    border-radius: 3rem;
    background: #ffffff;
    opacity: 0.08;
    padding: 1rem;
    width: 16rem;
    height: 12.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.mainBackGround {
    background-color: #000;
}

@media only screen and (width: 375px) {
    .boxImage {
        position: absolute;
        margin-top: 1.5rem;
        /* background: url(Image/Asset\ 1@300x\ \(1\).png) no-repeat center; */
        /* background-size: 60% 20%; */
        border-radius: 3rem;
        background: #ffffff;
        opacity: 0.08;
        padding: 0.5rem;
        width: 12rem;
        height: 9rem;
    }

    .inputCustomName {
        position: relative;
        top: 1.5rem;
        left: 0.4rem;
    
    
        background-color: rgba(255, 255, 255, 0.185);
        padding: 0.4rem;
        margin: 0.6rem;
        width: 11rem;
        height: 1.8rem;
        color: #fff;
        border: #ffff;
        border-style: double;
        border-width: 1.5px;
        font-family: 'Montserrat';
    
        /* background-image:url(./Image/Asset\ 3@300x.png) */
    }
    
    .inputCustomName::placeholder {
    
        color: rgb(255, 255, 255);
        font-size: 12px;
        /* font-family: "Monstserrat-Regular"; */
        font-family: 'Montserrat';
        src: url(./Fonts/Montserrat-Regular.ttf);
    }
    
    .inputCustomNo {
        position: relative;
        top: 1.5rem;
        left: 0.4rem;
    
    
        background-color: rgba(255, 255, 255, 0.185);
        padding: 0.4rem;
        margin: 0.6rem;
        width: 11rem;
        height: 1.8rem;
        color: #fff;
        border: #ffff;
        border-style: double;
        border-width: 1.5px;
        font-family: 'Montserrat';
    
        /* background-image:url(./Image/Asset\ 3@300x.png) */
    }
    
    .inputCustomNo::placeholder {
    
        color: rgb(255, 255, 255);
        font-size: 12px;
        /* font-family: "Monstserrat-Regular"; */
        font-family: 'Montserrat';
        src: url(./Fonts/Montserrat-Regular.ttf);
    }
    
    .submitButton {
        position: relative;
        top: 1rem;
        /* background-image:url(./Image/Asset\ 2@300x.png) */
        background-color: #B8192D;
        color: #fff;
        width: 10.6rem;
        margin: 1rem;
        border-radius: 10px;
        padding: 0.1rem;
        border: #B8192D;
    
        /* font-family: "Monstserrat-Regular";
         */
        font-family: 'Montserrat';
        /* src: url(./Fonts/Montserrat-Regular.ttf); */
    }
}

@media (max-device-width: 360px) and (max-device-height: 760px) {
    .boxImage {
        position: absolute;
        margin-top: 1.5rem;
        /* background: url(Image/Asset\ 1@300x\ \(1\).png) no-repeat center; */
        /* background-size: 60% 20%; */
        border-radius: 3rem;
        background: #ffffff;
        opacity: 0.08;
        padding: 0.5rem;
        width: 12rem;
        height: 9rem;
    }

    .inputCustomName {
        position: relative;
        top: 1.5rem;
        left: 0.4rem;
    
    
        background-color: rgba(255, 255, 255, 0.185);
        padding: 0.4rem;
        margin: 0.6rem;
        width: 10rem;
        height: 1.8rem;
        color: #fff;
        border: #ffff;
        border-style: double;
        border-width: 1.5px;
        font-family: 'Montserrat';
    
        /* background-image:url(./Image/Asset\ 3@300x.png) */
    }
    
    .inputCustomName::placeholder {
    
        color: rgb(255, 255, 255);
        font-size: 12px;
        /* font-family: "Monstserrat-Regular"; */
        font-family: 'Montserrat';
        src: url(./Fonts/Montserrat-Regular.ttf);
    }
    
    .inputCustomNo {
        position: relative;
        top: 1.5rem;
        left: 0.4rem;
    
    
        background-color: rgba(255, 255, 255, 0.185);
        padding: 0.4rem;
        margin: 0.6rem;
        width: 11rem;
        height: 1.8rem;
        color: #fff;
        border: #ffff;
        border-style: double;
        border-width: 1.5px;
        font-family: 'Montserrat';
    
        /* background-image:url(./Image/Asset\ 3@300x.png) */
    }
    
    .inputCustomNo::placeholder {
    
        color: rgb(255, 255, 255);
        font-size: 12px;
        /* font-family: "Monstserrat-Regular"; */
        font-family: 'Montserrat';
        src: url(./Fonts/Montserrat-Regular.ttf);
    }
    
    .submitButton {
        position: relative;
        top: 1rem;
        /* background-image:url(./Image/Asset\ 2@300x.png) */
        background-color: #B8192D;
        color: #fff;
        width: 10.6rem;
        margin: 1rem;
        border-radius: 10px;
        padding: 0.1rem;
        border: #B8192D;
    
        /* font-family: "Monstserrat-Regular";
         */
        font-family: 'Montserrat';
        /* src: url(./Fonts/Montserrat-Regular.ttf); */
    }
}

@media (max-device-width: 375px) and (max-device-height: 812px) {
    .boxImage {
        position: absolute;
        margin-top: 1.5rem;
        /* background: url(Image/Asset\ 1@300x\ \(1\).png) no-repeat center; */
        /* background-size: 60% 20%; */
        border-radius: 3rem;
        background: #ffffff;
        opacity: 0.08;
        padding: 0.5rem;
        width: 12rem;
        height: 9rem;
    }

    .inputCustomName {
        position: relative;
        top: 1.5rem;
        left: 0.2rem;
    
    
        background-color: rgba(255, 255, 255, 0.185);
        padding: 0.4rem;
        margin: 0.6rem;
        width: 11rem;
        height: 1.8rem;
        color: #fff;
        border: #ffff;
        border-style: double;
        border-width: 1.5px;
        font-family: 'Montserrat';
    
        /* background-image:url(./Image/Asset\ 3@300x.png) */
    }
    
    .inputCustomName::placeholder {
    
        color: rgb(255, 255, 255);
        font-size: 12px;
        /* font-family: "Monstserrat-Regular"; */
        font-family: 'Montserrat';
        src: url(./Fonts/Montserrat-Regular.ttf);
    }
    
    .inputCustomNo {
        position: relative;
        top: 1.5rem;
        left: 0.2rem;
    
    
        background-color: rgba(255, 255, 255, 0.185);
        padding: 0.4rem;
        margin: 0.6rem;
        width: 11rem;
        height: 1.8rem;
        color: #fff;
        border: #ffff;
        border-style: double;
        border-width: 1.5px;
        font-family: 'Montserrat';
    
        /* background-image:url(./Image/Asset\ 3@300x.png) */
    }
    
    .inputCustomNo::placeholder {
    
        color: rgb(255, 255, 255);
        font-size: 12px;
        /* font-family: "Monstserrat-Regular"; */
        font-family: 'Montserrat';
        src: url(./Fonts/Montserrat-Regular.ttf);
    }
    
    .submitButton {
        position: relative;
        top: 1rem;
        /* background-image:url(./Image/Asset\ 2@300x.png) */
        background-color: #B8192D;
        color: #fff;
        width: 10.6rem;
        margin: 1rem;
        border-radius: 10px;
        padding: 0.1rem;
        border: #B8192D;
    
        /* font-family: "Monstserrat-Regular";
         */
        font-family: 'Montserrat';
        /* src: url(./Fonts/Montserrat-Regular.ttf); */
    }
}